body {
  font-family: "droid-sans", sans-serif;
}

img {
  width: 100%;
}

/* Start Main page style */
.alsdi-nav,
nav a.sidenav-trigger i {
  height: 180px;
  box-shadow: none;
  transition: all .2s ease-in-out
}

nav a.sidenav-trigger i {
  line-height: 180px;
}

.navbar-links {
  padding-top: 70px;
}

.sidenav {
  text-align: right;
}

.menu-icon {
  color: #c59a3b;
  font-size: 3rem !important;
  margin-left: -20px;
}

.navbar-links a,
.sidenav li > a {
  color: #c59a3b;
  font-size: 1.5rem;
}

nav ul a:hover {
  background-color: #3c3863;
}

.navbar-links li:hover,
.sidenav-links li:hover {
  border-bottom: 2px solid #c59a3b;
}

.alsdi-slider .carousel-item-image {
  background-size: cover;
  width: 100%;
}

.alsdi-slider .carousel {
  height: 800px;
}

.alsdi-slider .text-wrapper {
  position: absolute;
  right: 0;
  bottom: 7%;
  display: inline-block;
  padding: 15px;
  background-color: rgba(0, 0, 0, .6)
}

/* End Main page style */

/* Start contact us style */
.contact-us ul {
  margin: 0;
  padding: 0;
}

.contact-us ul li {
  display: inline-block;
  padding: 5px;
}
/* End contact us style */

/* Start our services style */
.our-services .card-image.card-image-text-ordering {
  order: 1 !important;
}

.our-services .card-stacked.vertically-centered-items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.our-services .card-image img {
  max-height: 500px;
}

.our-services .card-content {
  padding: 14px;
}
/* End our services style */

/* Start Alsdi Framework */
.page-content {
  min-height: 80vh;
}

.outer-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: white;
  overflow: hidden;
}

.page-footer {
  min-height: 10vh;
  background-color: white;
  color: #c59a3b;
}
.to-arabic-side {
  text-align: right;
}
.alsdi-logo {
  width: 180px;
}
.remove-margin {
  margin: 0;
}

.alsdi-gold-font-color {
  color: #c59a3b;
}

.alsdi-purple-font-color {
  color: #3c3863;
}

.alsdi-header {
  border-bottom: 2px solid #c59a3b;
  padding-bottom: 5px;
  display: inline-block;
}

.contact-us-icon:hover {
  color: #c59a3b;
  transition: color 0.2s ease-in-out;
}

.alsdi-d-flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.alsdi-card-icon-order {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

@media only screen and (max-width: 600px) {
  .alsdi-d-flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .icon-section.alsdi-w-25 {
    width: 100% !important;
  }
}

.alsdi-col {
  padding: 10px;
}

.alsdi-h-100 {
  height: 100% !important;
}

.alsdi-big-border {
  border-bottom: 60px solid #3c3863;
}

.alsdi-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alsdi-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.alsdi-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.alsdi-statistics-card {
  padding: 10px;
  max-width: 300px;
  width: 300px;
}

.alsdi-big-number {
  font-size: 50px;
  font-weight: bold;
}

.alsdi-justify-content-center {
  webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.alsdi-align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.alsdi-gold-border {
  border: 1px solid #c59a3b;
}

.alsdi-w-50 {
  width: 50% !important;
}

.alsdi-w-25 {
  width: 25% !important;
}



@keyframes customTypedjsBlink{
  50% {
      opacity: 0.0;
 }
}
@-webkit-keyframes customTypedjsBlink{
  0% {
      opacity: 1;
 }
  50% {
      opacity: 0.0;
 }
  100% {
      opacity: 1;
 }
}



.typed-cursor.typed-cursor--blink {
  animation: customTypedjsBlink 0.7s infinite;
  -webkit-animation: customTypedjsBlink 0.7s infinite;
  animation: customTypedjsBlink 0.7s infinite
}

.alsdi-h-100 {
  height: 100% !important;
}

.alsdi-d-none {
  display: none !important;
}

.alsdi-center-text {
  text-align: center !important
}

.alsdi-w-100 {
  max-width: 100% !important;
}

.background-animation {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.purple-background-navbar {
  background-color: #3c3863 !important
}

/* End Alsdi Framework */

/* Spinner Css */
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-css {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1.4s infinite;
  animation: lds-spinner linear 1.4s infinite;
  background: #C59A3B;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.283333333333333s;
  animation-delay: -1.283333333333333s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1.166666666666667s;
  animation-delay: -1.166666666666667s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -1.05s;
  animation-delay: -1.05s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.933333333333333s;
  animation-delay: -0.933333333333333s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.816666666666667s;
  animation-delay: -0.816666666666667s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.466666666666667s;
  animation-delay: -0.466666666666667s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.233333333333333s;
  animation-delay: -0.233333333333333s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.116666666666667s;
  animation-delay: -0.116666666666667s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
/* Spinner Css */
