{% extends "base.html" %}

{% block content %}


<style>
 #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
</style>
<div class="container to-arabic-side contact-us">
    <h2 class="alsdi-gold-font-color">{{page.header}}</h2>
    <p class="alsdi-purple-font-color">{{page.paragraph}}</p>
    <ul>
        <li>
            <a href="{{contact.twitter_address}}" target="_blank">
                <i class="fab fa-twitter-square fa-3x contact-us-icon alsdi-purple-font-color"></i>
            </a>
        </li>
        <li>
            <a href="{{contact.facebook_address}}" target="_blank">
                <i class="fab fa-facebook fa-3x contact-us-icon alsdi-purple-font-color"></i>
            </a>
        </li>
        <li>
            <a href="{{contact.whatsapp_number}}" target="_blank">
                <i class="fab fa-whatsapp-square fa-3x contact-us-icon alsdi-purple-font-color"></i>
            </a>
        </li>
        <li>
            <a href="{{contact.snapchat_address}}" target="_blank">
                <i class="fab fa-snapchat-square fa-3x contact-us-icon alsdi-purple-font-color"></i>
            </a>
        </li>
        <li>
            <a href="{{contact.instgram_address}}" target="_blank">
                <i class="fab fa-instagram fa-3x contact-us-icon alsdi-purple-font-color"></i>
            </a>
        </li>
    </ul>
    <p class="alsdi-purple-font-color">او يمكنك الاتصال علي الارقام التالية : {{contact.telephone_number1}} - {{contact.telephone_number2}}</p>
    <h2 class="alsdi-gold-font-color">عنواننا</h2>
    <p class="alsdi-purple-font-color">{{ contact.address | safe }}</p>
</div>
{% comment %} <div id="map"></div> {% endcomment %}
<script>
    // Initialize and add the map
    function initMap() {
    // The location of Uluru
    var uluru = {lat: -25.344, lng: 131.036};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
{% endblock content %}