{% extends "base.html" %}

{% block content %}
<div class="alsdi-slider container">
    <div class="slider">
        <ul class="slides">
        {% for slide in slides %}
            
                <li>
                    <img src="{{ slide.image.url }}"> 
                    <div class="caption right-align">
                    <h3>{{ slide.header }}</h3>
                    <h5 class="light grey-text text-lighten-3">{{ slide.paragraph }}</h5>
                    </div>
                </li>
                
        {% endfor %}
        </ul>
  </div>
</div>
    

  
{% endblock content %}