{% extends "base.html" %}

{% block content %}
<div class="container to-arabic-side our-services">
    <h2 class="alsdi-gold-font-color">{{page.header}}</h2>
    <p class="alsdi-purple-font-color">{{page.paragraph}}</p>
    <div class="cards">
        <div class="row">
            {% for section in page.sections.all %}
                <div class="col s12 m12">
                    <div class="hide-on-small-only">
                        <div class="card horizontal" data-aos="{% cycle 'fade-up-right' 'fade-up-left' %}" data-aos-duration="2000">
                                <div class="card-image {% cycle 'card-image-text-ordering' '' %}">
                                <img class="materialboxed" src="{{ section.image.url }}">
                                </div>
                                <div class="card-stacked vertically-centered-items">
                                    <div style="max-height:100%">
                                        <div class="card-header">
                                        <h3 class="alsdi-gold-font-color center">{{ section.section_header }}</h3>
                                        </div>
                                        <div class="card-content to-arabic-side">
                                        <p class='alsdi-purple-font-color'>{{ section.section_paragraph }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% comment %} For small Screen {% endcomment %}
                    <div class="hide-on-med-and-up">
                            <div class="card vertical">
                            <div class="card-image">
                                <img class="materialboxed" src="{{ section.image.url }}">
                            </div>
                            <div class="card-stacked vertically-centered-items">
                                <div>
                                    <div class="card-header">
                                    <h3 class="alsdi-gold-font-color center">{{ section.section_header }}</h3>
                                    </div>
                                    <div class="card-content to-arabic-side">
                                    <p class='alsdi-purple-font-color'>{{ section.section_paragraph }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}