{% extends "base.html" %}

{% block content %}
<div class="alsdi-slider">
    <div class="carousel carousel-slider">
        {% for slide in slides %}
            <div class="carousel-item carousel-item-image" href="#" style="background-image: url({{ slide.image.url }})">
                <div class="text-wrapper to-arabic-side">
                    <h1 class="white-text">{{ slide.header }}</h1>
                    <p class="white-text">{{ slide.paragraph }}</p>
                </div>
            </div>
        {% endfor %}
        </ul>
  </div>
</div> 
<div class="alsdi-big-border"></div>
<div class="container">
<div class="section to-arabic-side">
    <h2 class='alsdi-gold-font-color alsdi-header'>{{ our_motto_section.section_header }}</h2>
    <div class="blocks-content-wrapper alsdi-d-flex alsdi-flex-column">
        {% for ablock in our_motto_section.blocks.all  %}
            <div class="card alsdi-d-flex hoverable" data-aos="{% cycle 'fade-left' 'fade-right' %}" data-aos-duration="2000">
            <div class="icon-section alsdi-w-25 {% cycle '' 'alsdi-card-icon-order' %}">
                <div class="alsdi-center-text alsdi-justify-content-center alsdi-align-items-center alsdi-h-100 alsdi-d-flex">
                    <i class="{{ ablock.icon }} fa-5x alsdi-gold-font-color"></i>
                </div>
            </div>
            <div class="card-content">
            <span class="card-title alsdi-gold-font-color">{{ ablock.header }}</span>
            <p class="alsdi-purple-font-color">{{ ablock.paragraph }}</p>
            </div>
      </div>
        {% endfor %}

            <div class="section to-arabic-side">
                <h2 class='alsdi-gold-font-color alsdi-header'>{{ our_statistics.section_header }}</h2>
                <div class="blocks-content-wrapper alsdi-d-flex alsdi-flex-row">
                {% for ablock in our_statistics.blocks.all  %}
                    <div class="card alsdi-statistics-card hoverable">
                    <div class="icon-section">
                        <div class="alsdi-center-text">
                            <div class="counter alsdi-gold-font-color alsdi-center-text alsdi-big-number">{{ ablock.paragraph }}</div>
                        </div>
                    </div>
                    <div class="card-content">
                    <span class="card-title alsdi-purple-font-color alsdi-center-text">{{ ablock.header }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
</div>
</div>
</div>
</div>

<div class="section to-arabic-side testimonials-image" style="background-image: url('{{ testimonials.image.url }}')">
    <div class="alsdi-overlay">
        <div class="container">
        <h2 class='alsdi-gold-font-color alsdi-header'>{{ testimonials.section_header }}</h2>
        <h1 class="white-text alsdi-center-text">
            <span class="typed-cursor typed-cursor--blink">|</span>
            <span class="typed-names"></span>
        </h1>
        <ul id="names-list" class="alsdi-d-none">
            <li>علي أحمد</li>
            <li>خالد الحامد</li>
            <li>فيصل القحطاني</li>
        </ul>

        <ul class="rslides white-text alsdi-center-text">
            <li>Hello</li>
            <li>Bye</li>
            <li>Hi</li>
        </ul>
    </div>
    </div>
</div>
{% endblock content %}